/* Register Component Styles */
.register__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Added to control the maximum width */
    margin: auto; /* Center the container horizontally */
}

.heading {
    font-size: 24px; /* Increased for better visibility */
    color: #333;
    margin-bottom: 20px;
}

.register__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register__label {
    margin-bottom: 10px; /* Reduced margin for better spacing */
    font-weight: bold;
    color: #555;
}

.register__input {
    width: 100%;
    padding: 8px; /* Reduced padding for a more compact look */
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px; /* Added margin for spacing */
}

.register__button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; /* Added margin to separate from form fields */
}

.register__button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 12px; /* Reduced font size for error messages */
    margin-top: 5px; /* Reduced margin for error messages */
}
